<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Ty Le</h1>
		<p>Welcome to my blog that I have built using Ruby Rails 5.</p>
		
</div>